.dataVisualize-box {
	.top-box {
		box-sizing: border-box;
		padding: 25px 40px 0;
		margin-bottom: 10px;
		.top-content {
			.item-left {
				box-sizing: border-box;
				height: 100%;
				padding: 40px 0 30px 30px;
				overflow: hidden;
				color: #ffffff;
				background: url('./images/book-bg.png');
				background-position: 50%;
				background-size: cover;
				border-radius: 20px;
				.left-title {
					font-family: DIN;
					font-size: 20px;
				}
				.img-box {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 90px;
					height: 90px;
					margin: 40px 0 20px;
					background: #ffffff;
					background-color: #ffffff;
					border-radius: 20px;
					box-shadow: 0 10px 20px rgb(0 0 0 / 14%);
					img {
						width: 60px;
						height: 65px;
					}
				}
				.left-number {
					overflow: hidden;
					font-family: DIN;
					font-size: 62px;
				}
			}
			.curve-echarts {
				height: 400px;
			}
		}
	}
}
